mixin listAllPlacesForm()
		div#placeContent
		

	script

		function renderData(data) {

			var address;
			var str;
			var date;
			$.each(data.place, function(key,val) {
				//console.log(val);
				date = new Date(val.creationDate);
				
				str = "<dl><span class='origin'>Par " + val.origin;
				str += " - " + date.toLocaleDateString() + "</span>";

				address = "<span class='text-field'>Adresse</span>";
				if (val.formatted_address)
					address += val.formatted_address;
				else {
					if (val.address['street'])
						address += val.address['street'] + ", ";
					if (val.address['zip'] || val.address['city'])
						address += val.address['zip'] + " " + val.address['city'];
					if (val.address['state'])
						address += ", " + val.address['state'];
				}

				str += "<dt>"+val.title+"</dt>";
				if (val.content) {
					str += "<dd>" + val.content.slice(0, 100) +"...</dd>";
				}
				str += "<dd>"+address+"</dd>";

				if (val.contact) {
					if (val.contact['transportation'])
						str += "<dd><span class='text-field'>Transport</span> " + val.contact['transportation'] + "</dd>";
					if (val.contact['tel'])
						str += "<dd><span class='text-field'>Tel</span> " + val.contact['tel'] + "</dd>";
					if (val.contact['web'])
						str += "<dd><span class='text-field'>Site web</span> <a href=" + val.contact['web'] + ">" + val.contact['web'] +  "</a></dd>";
				}
				if (val.outGoingLink)
					str += "<dd><span class='text-field'>Lien externe</span> <a href='" + val.outGoingLink + "'>" + val.outGoingLink + "</a></dd>";
				
				str += "<dd><span class='text-field'>YakCat</span>";

				console.log(val);

				if (val.freeTag) {
					var length = val.freeTag.length;
					str += "<dd><span class='text-field'>FreeTag</span> ";
					for (var i = length - 1; i >= 0; i--)	{
						str += val.freeTag[i];
						if (i != 0 )
							str += ", ";
					};
					str += "</dd>";
				}
				str += "</dl>";
				$('#placeContent').append(str);
			});
		}
