mixin listAllPlacesForm()
	form(action='/place', method='POST')
		.form-search
		div.input-append
			input#searchInput(type="text",name="login", autocomplete="off", placeholder="Bois de Boulogne...", data-provide="typeahead")
			button.btn(type='text', name='search', id='search', value='chercher') Chercher
		
		div#placeContent
		

	script

		$(document).ready(function() {
			$.getJSON('/api/unvalidatedPlaceList',function(data) {
				var address;
				var str;
				var date;
				$.each(data.place, function(key,val) {
					date = new Date(val.creationDate);

					str = "<dl><span class='origin'>Par " + val.origin;
					str += " - " + date.toLocaleDateString() + "</span>";

					address = "Adresse: " +val.address['street'] + ", " + val.address['zip'] + " " + val.address['city'] + " - " + val.address['state'];
					
					str += "<dt>"+val.title+"</dt><dd>"+val.content+"</dd><dd>"+address+"</dd>";
					if (val.contact) {
						str += "<dd>Transport: " + val.contact['transportation'] + "</dd>";
						str += "<dd>Tel: " + val.contact['tel'] + "</dd>";
						str += "<dd>Site web: <a href=" + val.contact['web'] + ">" + val.contact['web'] +  "</a></dd>";
					}
					str += "<dd>Lien externe: <a href='" + val.outGoingLink + "'>" + val.outGoingLink + "</a></dd>";

					if (val.freeTag) {
						var length = val.freeTag.length;
						str += "<dd>FreeTag: ";
						for (var i = length - 1; i >= 0; i--)	{
							str += val.freeTag[i];
							if (i != 0 )
								str += ", ";
						};
						str += "</dd>";
					}
					str += "</dl>";
					$('#placeContent').append(str);
				});
			});
		});
