mixin placeForm()
	form#placeForm(action='/place', method='POST', enctype='multipart/form-data')
		input#yakcatInput(type='hidden', name='yakcatInput', value='')
		input#placeInput(type='hidden', name='placeInput', value='')
		input#latitude(type="hidden",data-provide="typeahead", name="latitude")
		input#longitude(type="hidden",data-provide="typeahead", name="longitude")
		legend Ajouter une place:
		div.control-group
			div.controls
				input.span12.hashtagMaker(type='text', name='title', id='title', placeholder='Titre: vous pouvez utiliser des hashtags dans votre texte ( #Halloween )')
				textarea#content.span12.hashtagMaker(name='content', placeholder='Texte: vous pouvez utiliser des hashtags dans votre texte ( #Halloween )',rows='3')
		div.control-group
			label(for='address') Adresse:
			div.controls
				input.span7.hashtagMaker(type='text', name='street', id='street', placeholder='Rue') 
				input.span4.hashtagMaker(type='text', name='zip', id='zip', placeholder='Code Postal')
				input.span4.hashtagMaker(type='text', name='city', id='city', placeholder='Ville')
				input.span4.hashtagMaker(type='text', name='state', id='state', placeholder='State')
				input.span4.hashtagMaker(type='text', name='area', id='area', placeholder='Région')
				input.span4.hashtagMaker(type='text', name='country', id='country', placeholder='Pays')
		div.control-group
			label(for='Place') Clicker sur la carte ou bien entrer une adresse:<br>
			div.controls
				div.input-append
					input#place(type="text",data-provide="typeahead", name="address", autocomplete="off", placeholder='Adresse...') 
					button.btn#btn-place-adder(type="button") Add
					span.help-inline(style='font-size:0.95em;font-style:italic;') Ajoutez plusieurs adresses <br>et faites apparaître votre info <br>à plusieurs endroits !
		br
		div.control-group
			label(for='category') Choisissez la zone dans laquelle votre place se trouve:
			div.controls
				label.radio.inline Paris
					input#option1(type="radio", name="zone", value="1" , checked) 
				- if(type != 2)
					label.radio.inline Montpellier
						input#option4(type="radio", name="zone", value="2")
				label.radio.inline Eghézée
					input#option2(type="radio", name="zone", value="3")
				label.radio.inline Autre
					input#options3(type="radio", name="zone", value="4")
		div.control-group
			label(for='category') Choisissez un ou plusieurs thèmes:
			div.controls
				input#yakcat.span12(type="text",data-provide="typeahead", name="category", autocomplete="off", placeholder='Rechercher...')
			div.controls	
				input#freetag.span12(type="text",data-provide="typeahead", name="freetag",placeholder='Ajouter des mots clés : halloween, déguisements')
			div.controls
				span#picturePreview
				input.span6#picture(type="file",style="display:block",name="picture")
		br
		button.btn.btn-large.btn-block.btn-inverse(style='width:100%',type='submit', name='submit', id='submit', value='Envoyer') Envoyer