mixin placeControle()
	#placeControle
		h3 Filter la liste de place
		form(action='/place', method='POST')
			div.row-fluid
				div.span6
					label(for='category')
						input#yakcat(type="text",data-provide="typeahead", name="yakcat", autocomplete="off", placeholder='Filtrer par yakcat')
				
				div.span6.input-append
					input#searchInput.span9(type="text", name="search", autocomplete="off", placeholder="Bois de Boulogne...", data-provide="typeahead")
					button.btn(type='text', name='search', id='search', value='chercher') Chercher
			
			select#validation.span2
				option(value='true') Unvalidated
				option(value='false') Validated
				option(value='both') Both


script 

	$(document).ready(function() {
				
		$('#placeControle #yakcat').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							url: "/api/cats",				
							success: function( data ) {
								typeahead.process(data.cats);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("label[for='category']").after("<span class='label label-important'><i class='icon-remove icon-pointer'  onclick='placeYakcatArray.cleanArray(\""+obj._id+"\");$(\"#placeControle #yakcatInput\").val(JSON.stringify(placeYakcatArray));$(this).parent().remove();'></i> "+obj.title+"</span>");
					$('#placeControle #yakcat').val('').focus();
					placeYakcatArray.push(obj);
					$("#placeControle #yakcatInput").val(JSON.stringify(placeYakcatArray));
				}
			});
	});
