mixin placeForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#placeForm(action='/place', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakcatInput(type='hidden', name='yakcatInput', value='') 
		input#placeInput(type='hidden', name='placeInput', value='')
		input#latitude(type="hidden",data-provide="typeahead", name="latitude")
		input#longitude(type="hidden",data-provide="typeahead", name="longitude")
		input#update(type="hidden",data-provide="typeahead", name="update", value='0')
		input#objid(type="hidden",data-provide="typeahead", name="objid", value='0')

		legend Ajouter une place
		div.control-group.error
				div.controls
					label#err(type="text", id="err", name="err", style='display:none') Les champs marqués en rouge sont obligatoires
		div.control-group#titleGroup
			div.controls
				label Titre 
				input.big.hashtagMaker(type='text', name='title', id='title', placeholder='Opéra Bastille, Restaurant du Coin #BonneBouffe2012')
		div.control-group#contentGroup
			div.controls
				label Description
				textarea.span8.hashtagMaker(type='text', id='content', name='content', placeholder="Quelques détails sur la place à ajouter, avec la possibilité d'ajouter des #hashtags.", rows='3')	
		div.control-group#licenceGroup
			div.controls
				label Licence
				input.hashtagMaker(type='text', name='licence', id='licence', placeholder='Open Source', autocomplete="off") 
		div.control-group#origineGroup.col2
				div.controls
					label Origine
					input.hashtagMaker(type='text', name='origine', id='origine', placeholder='Yakwala', autocomplete="on")
		div.control-group#adresseGroup
			div.controls
				label(for='Place') Adresse
				.input-append
					input.big(type="text",data-provide="typeahead", id="place", name="place", autocomplete="on", placeholder="Cliquer sur la carte ou entrer l'adresse") 
					button.btn#btn-place-adder(type="button") Ajouter
		div.control-group#yakcatGroup
			div.controls
				label(for='category') Thèmes
				input(type="text", data-provide="typeahead", id="yakcat", name="yakcat", autocomplete="off", placeholder='Un ou plusieurs thèmes')

		div.control-group
			div.controls
				.col2
					label Free Tags
					input#freetag(type="text", data-provide="typeahead", name="freetag",placeholder='Free tags séparés par des virgules')
					
		div.control-group
			div.controls
				label Contact
				input#tel(type="text", data-provide="typeahead", name="tel", placeholder='Téléphone')
				input#mobile(type="text", data-provide="typeahead", name="mobile", placeholder='Mobile')
				input#mail(type="text", data-provide="typeahead", name="mail", placeholder='Email')
				input#web(type="text", data-provide="typeahead", name="web", placeholder='Site web')
				label Horaires / Transport
				input#opening(type="text", data-provide="typeahead", name="opening", placeholder="Horaires d'ouverture")
				input#closing(type="text", data-provide="typeahead", name="closing", placeholder='Horaires de fermeture')
				input#special(type="text", data-provide="typeahead", name="special", placeholder='Special opening')
				input#transportation(type="text", data-provide="typeahead", name="transportation", placeholder='Comment y arriver? (ex: métro ligne 2 station Jaurès)')	
			
				label(for='picture') Photo
				span#picturePreview
				input#picture(type="file", name="picture")
			div.control-group
				div.controls
					label Status
					label.radio.inline Valider
						input#option1(type="radio", name="status", value="1" , checked) 
					label.radio.inline En attente
						input#option4(type="radio", name="status", value="2")
					label.radio.inline Rejeter
						input#option2(type="radio", name="status", value="3")
					label.radio.inline Erreur de localisation
						input#options3(type="radio", name="status", value="10")
			div.control-group
				div.controls
					button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Envoyer') Envoyer